<% title "Filespaces Demo" %>

<%= stylesheet_link_tag "fileupload" %>
<%= stylesheet_link_tag 'redmond/jquery-ui-1.8.23.custom' %>
<%= stylesheet_link_tag 'datatables' %>
<%= stylesheet_link_tag 'TableTools' %>
<%= stylesheet_link_tag 'TableTools_JUI' %> 

<script>
    $("body").hide();  // Prevent FOUC
</script>

<div id="content">
    <div class="filespace-chooser-tabset" id="filespace-master">
        <ul>
            <% @filespaces.each do |fs| %>
                <li>
                    <a href="#filespace-<%= fs.id %>"><%= fs.name %></a>
                </li>
            <% end %>
        </ul>
        <% @filespaces.each do |fs| %>
            <%= render(partial: 'filespaces/filespace',
                locals: {id: fs.id, current: fs.current_folder.id,
                    root: fs.root_folder.id}) %>
        <% end %>
    </div>
</div>

<%= javascript_include_tag 'jquery-ui-1.8.23.custom' %>
<%= javascript_include_tag 'jstree' %>
<%= javascript_include_tag 'datatables' %>
<%= javascript_include_tag 'tabletools' %>

<%= javascript_include_tag("tmpl.min") %>
<%= javascript_include_tag("load-image.min") %>
<%= javascript_include_tag("canvas-to-blob.min") %>

<%= javascript_include_tag 'filespaces' %>
<%= javascript_include_tag 'fileupload' %>

<script>
    $("body").show(); // prevent FOUC
</script>



