<% title "Demo" %>

<%= stylesheet_link_tag 'tabletools/TableTools' %>
<%= stylesheet_link_tag 'tabletools/TableTools_JUI' %>
<%= stylesheet_link_tag 'datatables/jquery.dataTables' %>
<%= stylesheet_link_tag 'datatables/jquery.dataTables_themeroller' %>
<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.21.custom' %>

<%= javascript_include_tag 'jquery-ui-1.8.21.custom' %>
<%= javascript_include_tag 'jstree' %>
<%= javascript_include_tag 'jquery.dataTables' %>
<%= javascript_include_tag 'TableTools' %>

<%= javascript_include_tag 'demo' %>

<%= javascript_include_tag 'jstree-filespaces' %>

<!-- The Templates plugin is included to render the
  upload/download listings. -->
<%= javascript_include_tag("blueimp/tmpl.min.js") %>

<!-- The Load Image plugin is included for the preview images
 and image resizing functionality. -->
<%= javascript_include_tag("blueimp/load-image.min.js") %>

<!-- The Canvas to Blob plugin is included for image
  resizing functionality. -->
<%= javascript_include_tag("blueimp/canvas-to-blob.min.js") %>

<%= render partial: 'filespaces/templates' %>

<div id="content">
    <div class="filespace-chooser-tabset">
        <ul>
            <li><a href="#filespace-<%= @user_filespace.id %>">User</a></li>
            <li><a href="#filespace-<%= @company_filespace.id %>">Company</a></li>
            <li><a href="#filespace-<%= @project_filespace.id %>">Project</a></li>
        </ul>
        <%= render(partial: 'filespaces/filespace',
          locals: {id: @user_filespace.id, 
            current: @user_filespace.current_folder.id,
            root: @user_filespace.root_folder.id}) %>
        <%= render(partial: 'filespaces/filespace',
          locals: {id: @company_filespace.id,
            current: @company_filespace.current_folder.id,
            root: @user_filespace.root_folder.id}) %>
        <%= render(partial: 'filespaces/filespace', 
          locals: {id: @project_filespace.id,
            current: @project_filespace.current_folder.id,
            root: @user_filespace.root_folder.id}) %>
    </div>
</div>

