<div id="filespace-<%= id %>" data-filespace="<%= id %>"
  data-root-folder="<%= root %>" data-current-folder="<%= current %>"
  class="filespace-panel">

      <div class="tree-wrapper">
          <div class="liner">
              <div class="explanation">
                  Click on a folder to select it.  Then click
                  <em>View Files</em> to view the files in the folder, or
                  click <em>Upload Files</em> to upload files to the folder.
              </div>
              <%= tag("div", {id: "node-#{root}", "class" => "filespace-tree",
                "data" => {"filespace" => id, "root-folder" => root,
                "current-folder" => current}}, true) %>
              </div>
          </div>
      </div>

    <div class="upload-wrapper">
        <div class="trail"></div>
        <div class="liner">
            <div class="filespace-action-tabset">
                <ul>
                    <li><%= tag("a", {href: "#file-viewer-#{id}"}, true) %>
                        View Files
                    </a></li>
                    <li><%= tag("a", {href: "#file-uploader-#{id}"}, true) %>
                        Upload Files
                    </a></li>
                    <li><%= tag("a", {href: "#file-finder-#{id}"}, true) %>
                        Search Filespace
                    </a></li>
                    <li><%= tag("a", {href: "#user-manager-#{id}"}, true) %>
                        Add or Remove Users
                    </a></li>
                    <li><%= tag("a", {href: "#filespace-manager-#{id}"}, true) %>
                        Share Filespace
                    </a></li>
                </ul>

                <%= tag("div", {id: "file-viewer-#{id}"}, true) %>
                    <%= render(:partial => 'filespaces/viewer',
                      :locals => {filespace: id, root: root,
                        current: current}) %>
                </div>

                <%= tag("div", {id: "file-uploader-#{id}"}, true) %>
                    <%= render(:partial => 'filespaces/uploader',
                      :locals =>  {filespace: id, :root => root,
                        current: current}) %>
                </div>

                <%= tag("div", {id: "file-finder-#{id}"}, true) %>
                    <h2>Search Filespaces Panel</h2>

                    Here we will have a search box that will search over all the
                    file names in all filespaces having the current user as a
                    member. The search results will be displayed as a scrollable
                    list of links that appear to the user as:

                    <div class="path-list">
                        <u>&lt;filespace&gt;:/&lt;folder&gt;/&lt;
                          folder&gt;/.../&lt;file&gt;</u>
                        <br>
                        <u>&lt;filespace&gt;:/&lt;folder&gt;/&lt;
                          folder&gt;/.../&lt;file&gt;</u>
                    </div>

                    When the user clicks on a link, the correct filespace,
                    folder, and file are selected in the <em>View Files</em>
                    panel.  The search does not cover folder names, only file
                    names. If the tab for that filespace is not in the filespace
                    tab bar, it will be added.
                </div>

                <%= tag("div", {id: "user-manager-#{id}"}, true) %>
                    <h1>Add or Remove Users Panel</h1>

                    This tab will only show up for an owner of the filespace.
                    The owner can add any Quosap user as a member of the
                    filespace.  This does not grant any access permissions in
                    itself, it merely makes the new members name appear as a
                    candidate to add to the sharing list of any folder in the
                    filespace.  That is, you can't share a folder to a user is
                    not a member of the filespace.

                </div>

                <%= tag("div", {id: "filespace-manager-#{id}"}, true) %>
                    <h1>Share Filespace Panel</h1>

                    It may be possible to add new owners, editors, or viewers to
                    the filespace as a whole.  We have to work out exactly what
                    these concepts mean.

                </div>
            </div>
        </div>
    </div>
</div>
