<% title @filespace.name %>

<% content_for :head do %>

	<style>
		#content {
			overflow: hidden;
			margin: 1em 1em 0.5em 1em;
		}
		#tree-wrapper {
			width: 30%;
			float: left;
		}
		#upload-wrapper {
			width: 70%;
			float: left;
		}
		#tree-wrapper > .liner {
			border: 2px solid green;
			height: 400px;
			padding: 1em;
			margin-right: 0.5em;
			overflow-y: auto;
		}
		#upload-wrapper > .liner {
			padding: 1em;
			border: 2px solid green;
			overflow-y: auto;
			height: 400px; 
		}
		#alog {
			margin: 0.5em 1em 0em 1em;
			padding: 0.5em;
			border: 2px solid green;
			height: 200px;
			overflow-y: auto;
			clear: left;
		}
		
	</style>
	
<% end %>

<h2>
  <%= link_to "View All Filespaces", filespaces_path %>
</h2>

<h2><%= @filespace.name.titleize %><span style="margin-left: 0.5em">File Space</span></h2>

<div id="content">
	
	<div id="tree-wrapper">
		<div class="liner">
			<%= tag("div", id: "root-folder",
			  data: {filespace: @filespace.id}) %>
			</div>
		</div>
	</div>
	<div id="upload-wrapper">
		<div class="liner">
			<%= render :partial => 'panels/uploader',
				:locals =>  {:folder => @root_folder} %>
		</div>
	</div>
		
</div>

<div id="alog">
</div>

<%= javascript_include_tag 'jstree'%>

<script>
	$(function () {

	$("#root-folder")
		.bind("before.jstree", function (e, data) {
			$("#alog").append(data.func + "<br />");
		})
		.jstree({ 
			// List of active plugins
			"plugins" : ["themes", "json", "ui", "dnd", "search",
				"hotkeys", "contextmenu"],

			"json" : { 
			
				"ajax" : {
					// the URL to fetch the data
					// folders.js?id=n&opr=get_children&fs=n
					
					"url" : "/folders.json",
					
					// the `data` function is executed in the instance's scope
					// the parameter is the node being loaded 
					// (may be -1, 0, or undefined when loading the root nodes)
					"data" : function (n) { 
						// the result is fed to the AJAX request `data` option
						return { 
							"opr" : "get_children", 
							"id" : n.attr ? n.attr("id").replace("node-","") : 1,
							"fs" : $("#root-folder").data("filespace")
						}; 
					}
				}
			}
		})
		.bind("create_node.jstree", function(e, data) {
			parent_id = data.rslt.parent.attr("id").replace("node-", "");
			action = "/folders.json"; // Rails URL
	
			$.post(action, {
				operation: "create_node",
				parent_id: parent_id,
				},
				function(r) {
					alert("Creating node " + r.name);
				}
			);
		})
		.bind("click.jstree", function(e, data) {
			// 'this' is the root div
			
			if (data == undefined)
			  folder_id = data.rslt.parent.attr("id").replace("node-", "");
			else
			  folder_id = $(e.target.parentNode).attr("id").replace("node-","");
			end
			
			folder_id = $(e.target.parentNode).attr("id").replace("node-","");
			action = "/folders/" + folder_id + "/documents"; // Rails URL
			$("#fileupload").attr("action", action);
			
			$("#fileupload > table > tbody.files").empty();
			
			// This function is copied from the uploader initialization
			// function in _uploader.html.erb.  Very un-dry.  This is the
			// only direct tie-in with the uploader.
			 $.getJSON($('#fileupload').prop('action'), function (files) {
		          var fu = $('#fileupload').data('fileupload'), 
		            template;
		          fu._adjustMaxNumberOfFiles(-files.length);
		          template = fu._renderDownload(files)
		            .appendTo($('#fileupload .files'));
		          // Force reflow:
		          fu._reflow = fu._transition && template.length &&
		            template[0].offsetWidth;
		          template.addClass('in');
		          $('#loading').remove();
		        });
		
		})
		.bind("rename_node.jstree", function (e, data) {
			alert("Renaming node");
		})
		.bind("delete_node.jstree", function (e, data) {
			alert("Delete node");
		})
		.bind("move_node.jstree", function (e, data) {
			alert("Move node");
		})
		.bind("copy_node.jstree", function (e, data) {
			alert("Copy node");
		});
});	


</script>
