<% title @filespace.name %>

<% content_for :head do %>

    <style>
        #content {
            overflow: hidden;
            margin: 1em 1em 0.5em 1em;
        }
	#controls {
	    height: 2.5em;
	    background-color: #ffe;
	    margin-bottom: 0.5em;
	    border: 2px solid green;
	    padding: 0.25em;
        }
	.panel {
	    overflow: auto;
        }
        #tree-wrapper {
            width: 30%;
            float: left;
        }
        #upload-wrapper {
            width: 70%;
            float: left;
        }
        #tree-wrapper > .liner {
            border: 2px solid green;
            height: 38em;
            padding: 1em;
            margin-right: 0.5em;
            overflow-y: auto;
        }
        #upload-wrapper > .liner {
            padding: 1em;
            border: 2px solid green;
            overflow-y: auto;
            height: 34.95em; 
        }
	#trail {
	   height: 1.25em;
	   background-color: #ffe;
	   margin-bottom: 0.5em;
	   border: 2px solid green;
	   padding: 0.25em;
	   font-size: large;
        }
	#leader {
	  color: green;
	  margin-right: 1em;
        }
        #alog {
            margin: 0.5em 1em 0em 1em;
            padding: 0.5em;
            border: 2px solid green;
            height: 200px;
            overflow-y: auto;
            clear: left;
        }
        
    </style> 

<% end %>

<div class="demo">
  <button>A button element</button>
  <input value="A submit button" type="submit"></input>
  <a href="#">An anchor</a>
</div>

<%= javascript_include_tag 'jquery-ui-1.8.21.custom' %>
<%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.21.custom' %>
<%= javascript_include_tag 'jstree' %>

<script>
    $(function() {
        $( "input:submit, a, button", ".demo" ).button();
        $( "a", ".demo" ).click(function() { return false; });
    });
</script>

<script>
    $(function() {
        $("#filespace-buttonbar").buttonset();
        $("button", "filespace-buttonbar").button();
        $( "a", ".demo" ).click(function() { return false; });
        $("#tabset").tabs();
    });

</script>

<h2>
  <%= link_to "View All Filespaces", filespaces_path %>
</h2>

<h2><%= @filespace.name.titleize %><span style="margin-left: 0.5em">File Space</span></h2>

<div id="content">
    <div id="tabset">
        <ul>
	    <li><a href="#panel1000">User</a></li>
	    <li><a href="#panel1001">Company</a></li>
	    <li><a href="#panel<%= @filespace.id %>">Project</a></li>
	</ul>
	<div id="panel1000">Contents of Panel 1000</div>
	<div id="panel1001">Contents of Panel 1001</div>
	<%= render(partial: 'filespace', locals: {id: @filespace.id}) %>
    </div>

</div>





